.experience-section {
    background-color: #46676d;
    h1 {
        color: white;
    }
    ul {
        list-style-type: none;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
        margin-top: 40px;

        li {
            background-color: white;
            padding: 20px 40px;
            border-radius: 6px;
            margin-top: 60px;

            &:first-of-type {
                margin-top: 10px;
            }

            .work-designation-info {
                display: flex;

                .company-info {
                    flex-grow: 1;
                }

                .designation-title {
                    font-size: 1.5rem;
                    font-family: 'Mulish', sans-serif;
                }
            }

            .work-description {
                font-style: italic;
                text-align: justify;
            }

            ul {
                list-style-type: circle !important;
                padding-bottom: 0;

                li {
                    margin: 0;
                    padding: 0;

                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }

            img {
                height: 80px;
            }

            .work-description-lists {
                height: 120px;
                overflow: auto;
            }
        }
    }
}