body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.profile-main-container {
    max-width: 1180px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

section {
    margin-top: 60px;
    h1 {
        text-align: center;
        font-size: 2rem;
    }
}

h1 {
    font-family: 'Mulish', sans-serif;
}

.profile-summary {
    display: flex;
    padding: 0 15px;
}

.horizontal-line {
    margin-top: 20px;
    margin-bottom: 60px;
    height: 2px;
    background-color: #46676d;
}

@media only screen and (max-width: 820px) {
    .profile-main-container {
        flex-direction: column;
    }

    .profile-summary {
        width: 100%;
        padding: 0 15px;
        min-height: 0px;
    }
}

@import './stylesheet/profile-summary.scss';
@import './stylesheet/certificates-section.scss';
@import './stylesheet/work-section.scss';
@import './stylesheet//footer.scss';